@using Microsoft.AspNetCore.Routing
@using Microsoft.CodeAnalysis
@model BookAuthor
@{
    Layout = "_Layout";
}
@{
    var authors = ViewData["Authors"] as List<Author>;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Edit</title>
</head>
<body>

<h4>BookAuthor</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Html." method="POST" asp>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select asp-for="AuthorId" class="form-control" id="select">
                @foreach (var author in authors) {
                    <option label="@author.FirstName @author.LastName" value="@author.AuthorId"></option>                }
            </select>
            <input type="hidden" asp-for="BookId"/>
            <input type="hidden" asp-for="BookAuthorId"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
<script>
function n(){

}
</script>